<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <form action="/authcontrollers/login" method="post">
        <label>Username</label><br>
            <input type="text" placeholder="tulis Username kamu ya???" name="username" required><br><br>
        <label>Password</label>
        <input type="password" placeholder="tulis password kamu ya???" required><br><br>

        <button type="submit">Login</button>
    </form>
    
</body>
</html>